.main{
    height: 1850px;
    background-color: blanchedalmond;
}
.top{
    color: rgb(85, 82, 75);
    font-size: 40px;
    line-height: 70px;
    height: 70px;
    background-color: rgb(235, 203, 157);
}
.top2{
    float: left;
    margin-left: 30px;
}
.mid{
    background-color: blanchedalmond;
}
.menu{
    text-align: center;
    width: 90%;
    background-color: blanchedalmond;
}
.a1{
    float: left;
    margin-top: 3%;
    margin-left: 16%;
    width: 16%;
    height: 360px;
    border: 0.5px solid rgb(224, 180, 114);
    background-color: rgb(224, 194, 149);
}
.a2{
    font-size:100px ;
    float: left;
    margin-top: 3%;
    margin-left: 2%;
    width: 16%;
    height: 360px;
    border: 0.5px solid rgb(224, 180, 114);
    background-color: rgb(224, 194, 149);
}
.p1{
    font-size: 30px;
}
.p2{
    font-size: 16px;
}