.top{
    height: 100px;
    line-height: 100px;
}
.top2{
    float: left;
    margin-left: 60px;
}
.bu1{
    font-size: 28px;
    color: black;
    margin-left: 40px;
}
.user{
    margin: 0 20px 0 50px;
    float: right;
}
.dl{
    float:right;
    margin-top:8px; 
    font-size: 30px;
}