/* .main{
    background-image: url('./../Img/backguand1.jpg');
    background-repeat: no-repeat;
} */
.top{
    font-size: 35px;
    background-color: rgb(244, 239, 232);
    height: 140px;
    line-height: 140px;
}
.top2{
    float: left;
    margin-left: 60px;
}
.top3{
    float: right;
}
.mid{
    background-color: rgb(244, 239, 232);
    text-align: center;
    line-height: 120px;
    height: 150px;
    font-size: 70px;
}
.img1{
    float: left;
    margin-left: 20%;
}
.img2{
    float: right;
    margin-right: 20%;
}