.background{
    background: url('./../Img/bk2.png');
    background-size:cover;
    height: 750px;
}
.kuang{ 
    float: left;
    width: 28%;
    height: 40%;
    align-content: center;
    margin: 13% 15% 0 35%;
    text-align: center;
}
.logo{
    float: left;
    margin-left: 32%;
    margin-bottom: 10px;
}
.form{
    float: left;
    margin-top: 10%;
    margin-left: 25%;
}