.main{
    background-color: rgb(235, 225, 212);
    height: 750px;
}
.top{
    font-size: 35px;
    background-color: rgb(244, 239, 232);
    height: 140px;
    line-height: 140px;
}
.top2{
    float: left;
    margin-left: 60px;
}
.top3{
    float: right;
}
.mid{
    background-color: rgb(244, 239, 232);
    text-align: center;
    line-height: 120px;
    height: 150px;
    font-size: 70px;
}
.p{
    font-size: 20px;
    text-align: center;
}
.form{
    float: left;
    margin-top: 2%;
    margin-left: 10%;
}
.bu{
    float: left;
    margin-left: 16%;
}
table{
    border-collapse :collapse ;
}
th,td{
    width:200px;
    height:50px;
    border :1px solid black;
    font-size:15px;
    text-align :center;
}
.table{
    float: right;
    margin-top: 2%;
    margin-right: 10%;
}