.main{
    background-color: rgb(244, 239, 232);
    height: 820px;
}
.top{
    font-size: 35px;
    background-color: rgb(244, 239, 232);
    height: 140px;
    line-height: 140px;
}
.top2{
    float: left;
    margin-left: 60px;
}
.top3{
    float: right;
}
.bu1{
    color: black;
    margin-left: 40px;
}
.mid{
    height: 680px;
}
.form1{
    font-size:50px ;
    float: left;
    height: 60%;
    width: 22%;
    margin-top: 11%;
    margin-left: 5%;
    border:2px solid #000;
    border-radius:20px ;
}
.form2{
    float: left;
    margin-left: 8%;
    width: 85%;
}
.title1{
    float: left;
    margin-left: 10%;
    margin-top: 5%;
    font-size: 90px;
    color: #355f04;
    text-shadow: 2px 5px #a3d668;
}
.title2{
    float: left;
    margin-left: 10%;
    font-size: 88px;
    color: #355f04;
    text-shadow: 2px 5px #a3d668;
}
.p{
    float: left;
    margin-top: 20%;
    margin-left: 35%;
    width: 40%;
}
.ph2{
    float:right;
    margin-top: -5%;
}
.bu2{
    float: left;
    margin-left: 13%;
    margin-top: 10%;
}