.mid{
    background-color: blanchedalmond;
}
.menu{
    text-align: center;
    width: 90%;
    background-color: blanchedalmond;
}
.td{
    height: 340px;
    background-color: rgb(219, 192, 166);
}
.td2{
    float: left;
    margin-left: 20px;
    margin-top: 20px;
    height: 300px;
    width: 60%;
}
.td3{
    /* background-color: tomato; */
    float: left;
    margin-left: 100px;
    color: rgb(53, 155, 33);
    font-size: 70px;
    line-height: 300px;
    height: 300px;
}